/*******************************************************************************
 *
 * Nom : style.css
 * Date et auteur :
 *		Créé le 23/09/2026
 *      eole Rivier
 * Description :
 *
 *******************************************************************************/

* {
  box-sizing: border-box;
}

body{
	font-family: Arial,Helvetica,sans-serif;
  line-height: 1.5em;
}

header{
  background-color: darkgray;
  color:white;
  line-height: 1.2em;
  font-size: 2em;
  margin: 10px;
  padding: 10px;
}

footer{
  background-color: darkgray;
  color: white;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

section{
  margin: 10px;
}

article{
  margin: 10px;
  padding: 10px;
  border: 2px gray dotted;
}

p{
  margin: 10px;
}

h1{
  color: red;
  text-align: center;
  font-size: 2em;
  text-transform: lowercase;
}

h2{
  background-color: red;
  border-left: 50px black solid;
  text-transform: capitalize;
}

#info{
  width: 600px;
  background-color: brown;
  color:white;
  text-align: center;
  line-height: 1.2em;
  font-size: 2em;
  padding: 10px;
  margin: auto;
  border-radius: 8px;
}

.documentation{
  background-color: green;
  color:white;
  padding: 10px;
  a{
    color:greenyellow;
    background-color: darkgreen;
    padding :10px;
    text-decoration: none;
  }
  a:hover{
    color: darkgreen;
    background-color: lightgreen;
}
}

.code{
  font-family: courier;
  background-color: lightgrey;
  border:1px lightgray solid;
  border-radius: 8px;
  pre{
    padding:10px;
    margin: 10px;
  }
}

table{
  width: 100%;
  margin: auto;
  line-height: 2em;

}
th{
  background-color: darkblue;
  color:white;
  font-size: 3em;
}
td,th{
  border:solid black;
  padding: 10px;
  text-align: center;
}
tr:nth-child(even){
  background-color: lightblue;
}
tr:nth-child(9){
  color: blue;
}